<form action="/users/saveUser" method="POST">  
    <input type="email" placeholder="Email" name="email" required >  
    <input type="password" placeholder="Default Password" name="password">  

<button type="submit">Submit</button></form>
